




.Save_single_mina_card {

    @apply lg:w-[750px] xl:w-[900px] md:w-[500px] w-[280px] bg-white lg:p-[25px] xl:p-[45px] md:p-[10px] p-[4px]

     xl:h-[800px] lg:h-[700px] md:h-[500px] h-[400px]  lg:mt-[20%] rounded-md
}


.Save_single_mina_card  .text_save h1{

    @apply lg:text-[45px] xl:text-[47px] md:text-[25px] text-[12px] 

    font-Lora text-[#181820]
}



.Save_single_mina_card  .text_save p{

    @apply lg:text-[16px] md:text-[14px] text-[8px] font-Lora font-normal text-[#6F747B] lg:w-[411px] w-[120px]
     lg:mt-[32px] md:mt-[25px] mt-[16px]
}



.text_save .save_under{

    @apply absolute lg:bottom-[10px] left-0  w-full lg:h-4 bg-[#448bca] bottom-[4px] h-[4px] inline-block z-[-10]
}


.save_button{

    @apply lg:text-[14px] md:text-[12px] text-[12px] text-white lg:py-[12px] xl:text-[16px] lg:px-[40px]  py-[8px] px-[20] bg-[#428b6c] rounded-[4px] font-semibold lg:mt-[50px] mt-[20px] hover:bg-green-500 transition-all duration-[.4s]
}


.card_img img{

    @apply xl:w-[800px] lg:w-[641px] w-[70px] mt-[5px] 
     lg:mt-[33px]  
}



